/*  Global varible*/
:root {
  /* font size */
  --font-large: 48px;
  --font-medium: 28px;

  --font-regular: 23px;
  --font-small: 16px;
  --font-xsmall: 14px;

  /* colors */
  --color-green: #8bc34a;
  --color-light-green: #bef67a;
  --color-dark-green: #5a9216;
  --color-more-dark-green: #255d00;

  --color-white-green: #f1f8e9;
  --color-light-gray: #b8bcc2;
  --color-dark-gray: #5a5e63;
  --color-gray-white: #f8f8f8;
  --color-black: #000000;
  --color-white: #ffffff;

  /* base size */
  --base-size-xsmall: 6px;
  --base-size-small: 12px;
  --base-size-medium: 14px;
  --base-size-large: 18px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border radius */
  --border-radius-size: 4px;
}

/* universal tag */
body,
p,
div,
img,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
li {
  list-style: none;
}

.section__container {
  padding: 50px var(--base-size-large);
}
.container--inner {
  max-width: 800px;
  margin: auto;
}
/* text base */
.section__title {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  padding: var(--base-size-medium) 0;
}
.section__sub-title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding: var(--base-size-small) 0;
}
.section__content {
  font-size: var(--base-size-regular);
  font-weight: var(--weight-regular);
  padding: var(--base-size-xsmall) 0;
}

/* header */

.head {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: var(--base-size-medium);
}
.head .head__title {
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.head .navbar > ul {
  display: flex;
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
}

.head .navbar .navbar__item {
  padding: var(--base-size-xsmall) var(--base-size-small);
  border-radius: var(--border-radius-size);
  margin: 0 calc(var(--base-size-xsmall) / 2);
  border: 1px solid transparent;
}
.head .navbar .navbar__item:hover {
  border: 1px solid var(--color-white-green);
}
.head .navbar .navbar__item.active {
  background-color: var(--color-dark-green);
}

/* home */
#home {
  background-image: url("/assets/images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home__user {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  max-width: 800px;
  color: var(--color-white-green);
  margin: auto;
}
.home__hello,
.home__user-name {
  padding-bottom: var(--base-size-small);
}
.home__user .home__user-img {
  width: 230px;
  width: 230px;
  border-radius: 50%;
}
.home__user-detail > .section__content:nth-child(2) {
  font-size: var(--font-xsmall);
}

/* skills */
#skills {
  background-color: var(--color-gray-white);
}
#skills .skills__kind {
  color: #213620;
  text-decoration-line: underline;
}

#skills .skill {
  padding-top: var(--base-size-small);
  padding-left: var(--base-size-xsmall);
}
#skills .skill__name {
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
}

#skills .skill__desctipion {
  font-size: var(--font-xsmall);
  padding-top: calc(var(--base-size-xsmall) / 2);
}
.skill__container {
  flex-grow: 1;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}

/* work */
#work {
  border-bottom: 10px solid var(--color-gray-white);
}
.company__container {
  display: flex;
  align-items: flex-start;
  font-size: var(--font-regular);
}
.company__container > i {
  padding-top: 5px;
}
.company__info {
  padding-left: var(--base-size-xsmall);
}
.company__name {
  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
}
.company__date {
  font-size: var(--base-size-xsmall);
  color: var(--color-dark-gray);
}
.company__project {
  padding: var(--base-size-small) var(--base-size-xsmall);
}

.company__project-title {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  padding-bottom: var(--base-size-xsmall);
}
.company__project-conent {
  padding: var(--base-size-xsmall) 0;
}
.company__project-conent {
  font-size: var(--font-xsmall);
}

/* contact */
#contact {
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--color-white);
  padding: 50px;
}
.contact__list {
}
#contact .contact__list p {
  display: inline-block;
  padding-left: var(--base-size-small);
}
