/*  Global varible*/
:root {
  /* font-size */
  --font-size-xlarge: 6em;
  --font-size-large: 3.5em;
  --font-size-medium: 1.8em;
  --font-size-small: 1em;
  --font-size-xsmall: 0.9em;

  /* colors */
  --color-green: #8bc34a;
  --color-light-green: #bef67a;
  --color-dark-green: #00701a;
  --color-more-dark-green: #255d00;
  --color-white-green: #f1f8e9;
  --color-light-gray: #b4b4b4;
  --color-dark-gray: #5a5e63;
  --color-gray-white: #f8f8f8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #1a2147;

  /* base size */
  --base-size-xsmall: 6px;
  --base-size-small: 15px;
  --base-size-medium: 20px;
  --base-size-large: 30px;
  --base-size-xlarge: 70px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border radius */
  --border-radius-size: 6px;

  /* blue */
  /* 바꿈 1 */
  --color-main-blue: #f0f2f5;
  --color-dark-blue: #e4f0f5;
}

/* universal tag */
body,
p,
div,
img,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
li {
  list-style: none;
}

.section__container {
  padding: var(--base-size-xlarge);
}
.container--inner {
  max-width: 1200px;
  margin: auto;
}
/* text base */
.section__title {
  font-size: var(--font-size-large);
  font-weight: var(--weight-bold);
  padding-bottom: var(--base-size-large);
}
.section__sub-title {
  font-size: var(--font-size-medium);
  font-weight: var(--weight-semi-bold);
  padding: var(--base-size-small) 0;
}
.section__content {
  font-size: var(--font-size-small);
  padding-bottom: calc(var(--base-size-xsmall));
  text-align: left;
  letter-spacing: 0.5px;
}

/* header */
.head {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}
.head__container {
  display: flex;
  justify-content: space-between;
  padding: var(--base-size-medium);
  position: relative;
  background-color: var(--color-main-blue);
}
.head .head__title {
  font-family: "Rajdhani", sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--font-size-medium);
}
.head .navbar .navbar__list {
  display: flex;
  font-weight: var(--weight-bold);
  font-size: var(--font-size-small);
  cursor: pointer;
  z-index: 1;
}

.head .navbar .navbar__item {
  padding: var(--base-size-xsmall) var(--base-size-xsmall);
  border-radius: var(--border-radius-size);
  margin: 0 calc(var(--base-size-xsmall) / 2);
  border: 2.5px solid transparent;
  font-weight: var(--weight-semi-bold);
}
.head .navbar .navbar__item.active {
  border-bottom: 3px solid var(--color-black);
  border-radius: 0;
}
.head .navbar .navbar__item:hover {
  background-color: rgba(180, 180, 180, 0.4);
}

/* srolled header */
.head--scrolled.head {
  color: var(--color-black);
}
.head--scrolled .head__container {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* mini-size navbar */
.navbar__toggle-btn {
  display: none;
  font-size: var(--font-size-medium);
  position: absolute;
  top: var(--base-size-medium);
  right: var(--base-size-medium);
}

/* home */
#home {
  background-color: var(--color-main-blue);
  /* height: 80vh; */
}
.home__user {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: auto;
  padding-top: 80px;
  max-width: 1200px;
  gap: var(--base-size-medium);
}
.home__user .home__user-img {
  /* header size 80px 제외 */
  flex: 1;
  align-self: flex-end;
  max-width: 50%;
}
.home__user .user__info {
  flex: 1;
  margin: auto;
  max-width: 50%;
}
.home__user .user__hello {
  font-size: var(--font-size-xlarge);
}
.home__user .user__introduce {
  font-size: var(--font-size-large);
  padding: var(--base-size-xsmall) 0;
}
.home__user .user__btn {
  background-color: var(--color-blue);
  color: white;
  padding: var(--base-size-small);
  border-radius: var(--border-radius-size);
  margin-top: var(--base-size-small);
}

/* about */
#about .about__title {
  font-size: var(--font-size-medium);
  font-weight: var(--weight-bold);
  padding-bottom: var(--base-size-small);
}
#about .about__content {
  font-size: var(--font-size-small);
}

/* skills */
#skills {
  /* background-color: var(--color-main-blue); */
  border-top: 10px solid var(--color-gray-white);
}
#skills .skills__list {
  display: flex;
}
#skills .skill {
  margin-bottom: var(--base-size-small);
}
#skills .skill__name {
  display: inline-block;
  font-weight: var(--weight-semi-bold);
  margin-right: var(--base-size-xsmall);
  padding-bottom: var(--base-size-xsmall);
}
#skills .skill__desctipion::before {
  content: "#";
}
#skills .skill__desctipion {
  font-size: var(--font-size-xsmall);
  background-color: var(--color-dark-blue);
  display: inline-block;
  padding: var(--base-size-xsmall);
  border-radius: var(--border-radius-size);
  margin-right: var(--base-size-xsmall);
}

#skills .skill__descriptions {
  display: inline-block;
}
/* project */
#projects {
  border-top: 10px solid var(--color-gray-white);
}
.project__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--base-size-large);
  transition: all 400ms ease;
}

.project {
  width: 350px;
  position: relative;
  text-align: left;
  /* paddingbottom : button space 45 (btn 30 + padding 15) */
  padding: var(--base-size-medium) var(--base-size-medium) 65px
    var(--base-size-medium);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--border-radius-size);
  transition: transform 300ms ease;
}
.project:hover {
  transform: scale(1.1);
}
.project__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-size);
  padding-bottom: var(--base-size-xsmall);
}
.project__info {
  padding-bottom: var(--base-size-xsmall);
}
.project__info .project__title {
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
  padding-right: var(--base-size-small);
}
.project__info .project__period {
  font-size: var(--font-size-xsmall);
  color: var(--color-light-gray);
}
.project__type {
  font-size: var(--font-size-xsmall);
  padding-bottom: var(--base-size-xsmall);
  color: gray;
}

.project__description {
  font-size: var(--font-size-xsmall);
}
.link-btns {
  text-align: center;
  position: absolute;
  bottom: var(--base-size-medium);
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.link-btn__demo,
.link-btn__source {
  height: 30px;
  border-radius: var(--border-radius-size);
  padding: 0 var(--base-size-small);
  background-color: var(--color-main-blue);
  color: #7b8ca6;
  font-weight: var(--weight-bold);
  box-shadow: rgba(151, 161, 166, 0.15) 1.95px 1.95px 2.6px;
  font-size: var(--font-small);
}
.link-btn__source {
  margin-right: var(--base-size-large);
}
/* career */
#career {
  border-top: 10px solid var(--color-gray-white);
  background-color: var(--color);
}
.company__container {
  display: flex;
  align-items: flex-start;
}
.career__list {
  text-align: left;
}
.company__container > i {
  padding-top: 10px;
  font-size: var(--font-size-medium);
}

.company__info {
  padding-left: var(--base-size-xsmall);
}
.company__name {
  font-weight: var(--weight-bold);
  font-size: var(--font-size-medium);

  text-transform: uppercase;
  font-weight: var(--weight-semi-bold);
}
.company__date {
  font-size: var(--font-size-small);
  color: var(--color-dark-gray);
}
.company__project {
  padding: var(--base-size-small) var(--base-size-large);
}

.company__project-title {
  font-size: var(--font-size-medium);
  font-weight: var(--weight-semi-bold);
  padding-bottom: var(--base-size-xsmall);
}
.company__project-conent {
  padding: var(--base-size-xsmall) 0;
}
.company__project-conent {
  font-size: var(--font-xsmall);
}

/* contact */
#contact {
  background-color: var(--color-main-blue);
  text-align: center;
  color: var(--color-blue);
  padding: var(--base-size-xlarge);
}

#contact .contact__item {
  padding-left: var(--base-size-small);
  font-size: var(--font-size-small);
  display: flex;
  justify-content: center;
  gap: var(--base-size-xsmall);
  padding-top: var(--base-size-small);
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: var(--font-size-medium);
  }
  .head .navbar .navbar__list {
    display: none;
  }
  .head .navbar .navbar__list.spread {
    display: inline;
    text-align: center;
  }
  .head__container {
    flex-direction: column;
    z-index: 1;
  }

  /* mini-size navbar */
  .navbar__toggle-btn {
    display: block;
  }

  /* header */
  .head {
    height: 60px;
  }

  .head .head__title {
    font-size: var(--font-size-medium);
  }

  .home__user {
    padding: 70px 0 50px 0;
    margin: auto;
    text-align: center;
  }
  .home__user .home__user-img {
    display: none;
  }
  .home__user .user__hello {
    font-size: var(--font-size-large);
  }
  .home__user .user__info {
    max-width: 90%;
  }
  .home__user .user__introduce {
    font-size: var(--font-size-medium);
  }

  #about .about__title {
    font-size: var(--font-size-small);
  }

  /* skills */

  .skill {
  }
  #skills .skill__desctipion {
    font-size: 10px;
  }

  /* career */
  .company__project-title {
    font-size: var(--font-size-small);
  }
}
